/*******************************************************************************
* _breadcrumns.scss
******************************************************************************/

.breadcrumb {
  background-color: transparent;
  padding-left: 0;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 15px;
  padding: 13px 0 12px;
  margin-bottom: 0;

  a {
    color: $grayDarker;
  }
}
