/*******************************************************************************
* _colors_header.scss
******************************************************************************/

body.section-getting-around #page-header {
  background-color: $green;
}
body.section-news #page-header {
  background-color: $orange;
}
body.section-tools-resources #page-header {
  background-color: $midnightBlue;
}
body.section-our-work #page-header {
  background-color: $purple;
}
body.section-about-mtc #page-header {
  background-color: $blue;
}
