/*******************************************************************************
* _pane-newsletter.scss
******************************************************************************/

.pane-newsletter {
  margin-top: 9px;
  @media all and (min-width: $MobileMax + 1) {
    margin-bottom: 9px;
  }

  input[type="text"] {
    color: $grayDark;
    background: $grayWashy;
    padding-left: 30px;
    height: 42px;
    float: left;
    border: none;

    @media all and (min-width: $MobileMax + 1) {
      width: 300px;
    }
  }

  input[type="submit"] {
    background: url("../images/sign-me.png");
    padding: 0;
    border: 0;
    display: table;
    font-size: 0;
    width: 54px;
    height: 42px;
  }
}
