/*******************************************************************************
* _pane_featued_photo_gallery.scss
******************************************************************************/

.pane-related-galleries-panel-pane-1 {
  background: $white;
  padding-top: 8px;
  padding-bottom: 10px;
  margin-bottom: 0;

  .pane-title {
    @include sidebar-heading();
  }

  .pane-content {
    padding: 0 0 23px 20px;
  }

  .view-related-galleries {
    border-top: 0;
    @media all and (max-width: $MobileMax) {
      display: block;
      
    }

    .view-content div > h4 {
      margin: 28px 0 17px 0;
      font-weight: bold;
    }

    > a {
      display: table;
      float: left;
      margin-right: 15px;
    }
  }
}